{% extends "bootstrap/base.html" %}

{% block content %}
        <div class="page-header">
            <h1 align="center">User Management</h1>
        </div>
        <div class="container">

            <!-- Left -->
                <div class="panel panel-primary" style="float:left">
                  <div align="center" class="panel-heading">
                    <h3 class="panel-title">User Detail</h3>
                  </div>
                    <div class="panel-body">
                     <form action="{{url_for('add')}}"  method="POST">
                         <table>
                            <tr>
                                <td>{{ form.username.label }}:</td> <td>{{ form.username() }}</td>
                            </tr>
                            <tr>
                                <td> {{ form.password.label }}:</td> <td>{{form.password() }}</td>
                            </tr>
                             <tr>
                                <td>{{ form.home.label }}:</td> <td>{{form.home() }}</td>
                             </tr>
                             <tr>
                                 <td>{{ form.shell.label }}:</td> <td>{{form.shell()}}</td>
                             </tr>
                             <tr>
                                <td>{{form.submit()}}</td>
                             </tr>
                             </table>
                         </form>
                    </div>
                </div>


            <!--  Right -->
            <div style="float:right">
                <div class="panel panel-primary" >
                    <div align="center" class="panel-heading">
                    <h3 class="panel-title">User List</h3>
                  </div>
                <table class="table">
                    <thead class="thead-inverse">
                    <tr>
                        <th>uid</th>
                        <th>Name</th>
                        <th>Shell</th>
                        <th>Home Directory</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                        <tr>
                            <form action="{{url_for('update')}}" method="POST" >
                            <td><input value={{user.uid}} name="uid" readonly></td>
                            <td>
                                <input type="text" value={{user.username}} name="username"><br>
                                <span class="label label-danger">{{error}}</span>
                            </td>
                            <td><input type="text" value={{user.shell}} name="shell"></td>
                            <td><input type="text" value="{{user.home}}" name="home"></td>
                            <td><input type="submit" name="submit" value="Update"> </td>
                            </form>
                            <form action="{{url_for('delete')}}" method="POST">
                                <td><input type="hidden" value={{user.uid}} name="uid" readonly></td>
                                <td><input type="submit" name="submit" value="Delete"> </td>
                            </form>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </div>
            </div>


        </div>

{% endblock %}
